@font-face {
    font-family: Zanzabar;
    src: url(Zanzabar.otf);
}

a {
    text-decoration: none;
    color: white;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

.landscape {
    display: none;
}

html {
    padding: 0;
    margin: 0;
    font-size: 100px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

}

h1 {
    font-size: .3rem;
}


p {
    font-size: .16rem;
}

main h1,
header h1 {
    font-size: .35rem;
    font-family: Zanzabar, sans-serif;
}

li {
    list-style: none;
}

header {
    height: 45px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;

    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
}

/*SIDE NAVIGATION MENU--------------------------------*/

.side-nav-bg {
    display: block;
    position: absolute;

    height: 514px;
    object-fit: contain;
    opacity: 0.15;

    top: 0px;
    width: 100%;

    z-index: 1;
}




.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 50px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .categories {
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.sidenav .social-media {
    margin: auto;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*------------------------------------------------------*/


.h1-container {
    flex: 0 1 100%;
}

#hamburguer {
    flex: 0 0 31px;
}

#basket {
    flex: 0 0 48px;
}

#neda {
    display: block;
    text-align: center;
    margin: auto;
}


main {
    width: auto;
    min-height: 500px;

    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;

    z-index: 1000;

}

.page-heading {
    text-align: center;
    color: #9cb18c;
    font-size: .49rem;
    font-family: Zanzabar;
    font-weight: normal;
    margin: 10px;
}

.shopButton {
    cursor: pointer;
}

/*MAIN PAGE---------------------------------*/


.zanzabar_h1 {
    font-family: Zanzabar;
    font-size: .74rem;
    text-align: center;
    color: #9cb18c;
    font-weight: 100;
}

.welcome-container .zanzabar_h1 {
    margin-bottom: 5px;
}

.welcome-container {
    height: 550px;
    width: 100%;

    background-color: none;
    z-index: 10;
    position: relative;
}

.welcome-background {
    display: block;
    position: absolute;
    top: 360px;
    width: 100%;

    width: 500px;
    z-index: 1;
}

.moreabout-button {
    width: 274px;
    height: 46px;
    background-color: #ebbbbb;
    margin: 0 auto;

    border-radius: 100px;
    display: flex;

    margin-top: 50px;
}

.moreabout-text {
    text-align: center;
    align-self: center;
    margin: auto;
    color: #ffffff;
    font-size: .2rem;
}

.video {
    display: block;
    width: 90%;
    height: 100px auto;
    margin: 20px auto;
    z-index: 1000;
}

section.gallery-index {
    margin: 0;
    height: 240px;
    background-color: #ebbbbb;
}

section.shop {
    margin: 0;
    height: 240px;
    background-color: #9cb18c;
}

section.shop p,
section.gallery-index p {
    padding: 10px;
    text-align: center;
}

#moreGalleryBTN:hover,
#moreShopBTN:hover,
.moreabout-button:hover {
    cursor: pointer;
}

h2 {
    font-size: .43rem;
    font-family: Zanzabar;
    text-align: center;
    color: #000000;
    font-weight: 100;
    margin: 0;
}

.image-welcome1,
.image-welcome2 {
    display: block;
    width: 100%;
    height: 186px;
    margin: 0 auto;
}

.image-welcome1 {
    background-image: url("Assets/image_assets/sunflower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-welcome2 {
    background-image: url("Assets/image_assets/woman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-container-button {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;
}

.welcome-container-button::after {
    content: " ";
    display: block;
    height: 3px;
    background: black;
    width: 55px;
    margin: 0 auto;
}

.welcome-container-button h2 {
    margin: auto;
    font-family: "Nunito Sans";
    font-size: 19px;
    font-weight: normal;
    color: #000000;
}

/*-----------------------------------------*/
/*ABOUT PAGE-----------------------------------------*/

.aboutBody,
.contactBody {
    background-image: url(Assets/backgrounds/map_faded.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

h3 {
    font-size: .2rem;
}

.aboutGrid {
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: .5em;
}

.about-container {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.about-image {
    display: block;
    max-width: 100%;
}

.about-shortText,
.about-longText {
    text-align: left;
    color: #000000;
    line-height: 1.38;
}

.about-longText {
    display: inline-block;
}

/*-----------------------------------------*/

/*CONTACT PAGE-----------------------------------------*/

.social-media-contact {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: auto;
}

.social-media-contact img {
    flex: 1 1 auto;
    text-align: center;
}

.contact-info {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.contact-info .location {
    text-align: right;
    width: 50%;
}

.contact-info .contactInfo {
    text-align: left;
    width: 50%;
}

.map-container {
    width: 100%;
    height: 0;
    padding-top: 30%;
    background-image: url(Assets/copenhagen-top-tourist-attractions-map-04-printable-detailed-interactive-virtual-city-centre-download-guide-visitor-english-high-resolution.jpg);
    background-position: center;
    background-size: cover;


}

/*-----------------------------------------*/

footer {
    display: flex;
    width: auto;

    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 100px;
    /*    background-color: #c6c6c6;*/
}

.footer-contact-info .contactInfo {
    text-align: right;
}

.sitemap h1,
.contact h1 {
    font-size: 12px;
    color: #888888;
}

.sitemap ul li,
.footer-contact-info .contactInfo p,
.footer-contact-info .contactInfo a {
    font-size: 13px;
    margin: 0;
    color: #888888;
}

.sitemap ul li a {
    text-decoration: none;
    color: #888888;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.sitemap {
    flex: 1;
    width: 50%;
}

.contactInfo a {
    color: black;

}

.contact {
    text-align: right;
    width: 50%;
}

ul {
    margin: 0;
    padding: 0;
}

.social-media {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: auto;
    width: 150px;
    align-items: center;

}

.social-media img {
    flex: 1 1 auto;
}

.facebook-foot {
    width: 11.3px;
    height: 21.8px;
    color: #888888;
}

.instagram-foot {
    width: 22px;
    height: 22px;
    color: #888888;
}

.pinterest-foot {
    width: 16.8px;
    height: 21.8px;
    color: #888888;
}

.email-foot {
    width: 23.2px;
    height: 15.8px;
    color: #888888;
}


/*-------GALLERY---------*/

.type {
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.types {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: .3em;
}

.type:hover {
    cursor: pointer;
}

.type h2 {
    font-size: 5vw;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
    padding-top: 40%;
    text-shadow: 2px 2px 5px black;
}

/*-------GALLERY---------*/

.filterGallery {
    margin: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-size: .15rem;
    margin-bottom: 1em;
    display: block;
}

.gallery {
    column-count: 2;
    column-gap: .1em;
    margin: auto;
}

.galleryImg {
    max-width: 100%;
    display: block;
    margin-bottom: .1em;
}

.bg {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.mdlImg {
    max-width: 90%;
    display: block;
    margin: auto;
}

.hide {
    display: none;
}

.open {
    overflow-y: hidden;
}

/*--------------------------------------------*/

/*SHOP --------------------------------------------*/
.shop-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.shopElem {
    display: flex;
    flex-direction: column;
}

.shopElemTitle,
.shopElemPrice {
    font-size: 16px;
}

.shopElemTitle {
    margin-top: 5px;
    color: #888888;
}

.shopElemPrice {
    font-size: 14px;
    font-weight: 600;
}

.shopElem h2 {
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
}

/*--------------------------------------------*/


/*SUB-SHOP --------------------------------------------*/
.sub-shop-heading {
    display: flex;
    width: 90%;
}

.sub-shop-heading .arrowBack {
    flex: 1 0 17px;
}

.sub-shop-heading .page-heading {
    flex: 0 0 100%;
}

.sub-shop-main img {
    display: block;
    margin: auto;
    width: 100%;
}

.sub-shop-main .shop-painting-title {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: #000000;
}

.sub-shop-main .shop-painting-description {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

.sub-shop-main .shop-painting-price {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.sub-shop-main .contact-button {
    display: flex;
    align-items: center;
    width: 274px;
    height: 46px;
    margin: auto;
    border-radius: 100px;
    background-color: #9cb18c;
}

.contact-button p {
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.shop-painting{
    display: block;
    margin-top: 30px;
}

.shop-painting img{
    margin-bottom: 20px;
}


/*--------------------------------------------*/

/*MEDIA QUERIES--------------------------------------------*/


@media screen and (max-width:640px) {

    .gallery,
    .types {
        width: 100%;
    }

    .contactText,
    .contactContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .mdlImg {
        max-width: 90%;
        max-height: 90%;

    }

    .aboutGrid {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-image {
        display: block;
        margin: auto;
        max-width: 100;
    }

    .map-container {
        width: 100%;
        height: 0;
        padding-top: 50%;
    }
}

@media screen and (min-width:640px) and (max-width:900px) {

    .gallery,
    .types {
        width: 70%;
    }

    .type h2 {
        font-size: 3.5vw;
    }

    .mdlImg {
        max-width: 80%;
        max-height: 90%;

    }

    .contactText,
    .contactContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .aboutGrid {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5em;
    }

    .about-image {
        display: block;
        margin: auto;
        max-width: 50%;
    }

    .map-container {
        width: 100%;
        height: 0;
        padding-top: 40%;
    }

    .sub-shop-main {
        width: 50%;
        margin: auto;

    }

    .video {
        width: 50%;
    }
}

@media screen and (min-width:900px) and (max-width:1024px) {

    .gallery,
    .types {
        width: 60%;
    }

    .type h2 {
        font-size: 3vw;
    }

    .mdlImg {
        max-width: 70%;
        max-height: 90%;
    }

    .contactContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contactText {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info .contactInfo,
    .contact-info .location {
        margin: auto;
        text-align: center;
    }

    .aboutGrid {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: .5em;
    }

    .map-container {
        width: 100%;
        height: 0;
        padding-top: 60%;
    }


    .video {
        margin-top: 100px;
        width: 50%;
    }

    /*   MAIN PAGE ------------------------------------*/

    .welcome-container2 {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-gap: 0px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image-welcome1 gallery-index"
            "shop image-welcome2"
        ;
    }

    .image-welcome1 {
        height: 100%;
        grid-area: image-welcome1;
        margin: auto;
    }

    .image-welcome2 {
        height: 100%;
        grid-area: image-welcome2;
        margin: auto;
    }

    .gallery-index {
        grid-area: gallery-index;
    }

    .shop {
        grid-area: shop;
    }


    main.main-page {
        display: flex;
        flex-direction: row;
    }

    .welcome-background {
        height: 50%;
        width: 50%;
        display: block;
        position: inherit;
        margin: auto;

        top: 0px;
        z-index: 1;
    }

    .welcome-container {
        width: 50%;
        position: inherit;
    }

    /*------------------------------------*/

    .sub-shop-main {
        width: 80%;
        margin: auto;
    }

    .shop-painting {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }

    .shop-painting img{
        flex: 0 0 50%;
        display: block;
    }

    .shop-painting .shop-painting-info{
        flex: 0 0 50%;
        margin-left: 10px;
    }

    .shop-painting .contact-button{
        width: 100%;
    }


}

@media screen and (min-width:1024px) {
    .gallery {
        width: 70%;
        column-count: 3;
    }

    .types {
        width: 50%;
    }

    .type h2 {
        font-size: 2.5vw;
    }

    .mdlImg {
        max-width: 60%;
        max-height: 80%;

    }

    .contactContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contactText {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info .contactInfo,
    .contact-info .location {
        margin: auto;
        text-align: center;
    }

    .map-container {
        width: 90%;
        height: 0;
        padding-top: 50%;
    }

    /*------------------------------------*/
    .portrait {
        display: none;
    }

    .landscape {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
    }

    .landscape .nav-pages {
        display: flex;
        flex-direction: row;
        flex: 0 0 31px;
    }

    .landscape .nav-pages a {
        color: black;
        transition: .2s;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        margin: 5px;
    }

    .landscape .nav-pages a.active {
        color: #9cb18c;
        border-bottom: 2px solid #9cb18c;
        padding-bottom: .5px;
    }

    .landscape .nav-pages a:hover {
        color: #9cb18c;
    }

    .landscape .nav-social-media {
        display: flex;
        flex-direction: row;

        flex: 0 0 48px;
    }

    .landscape .nav-social-media #basket {
        margin-left: 60px;
    }



    /*   MAIN PAGE ------------------------------------*/

    .welcome-container2 {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-gap: 0px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image-welcome1 gallery-index"
            "shop image-welcome2"
        ;
    }

    .image-welcome1 {
        height: 100%;
        grid-area: image-welcome1;
        margin: auto;
    }

    .image-welcome2 {
        height: 100%;
        grid-area: image-welcome2;
        margin: auto;
    }

    .gallery-index {
        grid-area: gallery-index;
    }

    .shop {
        grid-area: shop;
    }


    main.main-page {
        display: flex;
        flex-direction: row;
    }

    .welcome-background {
        height: 50%;
        width: 50%;
        display: block;
        position: inherit;
        margin: auto;

        top: 0px;
        z-index: 1;
    }

    .welcome-container {
        width: 50%;
        position: inherit;
    }

    /*------------------------------------*/

    .aboutGrid {
        max-width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: .5em;
    }


    .sub-shop-main {
        width: 80%;
        margin: auto;
    }

    .shop-painting {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }

    .shop-painting img{
        flex: 0 0 30%;
        display: block;
    }

    .shop-painting .shop-painting-info{
        flex: 0 0 50%;
        margin-left: 10px;
    }

    .shop-painting .contact-button{
        width: 70%;
    }



    .video {
        margin-top: 100px;
        width: 50%;
    }
}
